<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://share.schollz.com/static/dropzone.css">
    <link rel="stylesheet" href="https://share.schollz.com/static/style.css">
    <title>Share a file</title>

</head>

<body>
    <main>
        <div id="filesBox" class="dropzone">
            <div class="dz-message" data-dz-message><span>Drop or click here to share a folder.<br>
                    <p><small>Max file size: 100 MB</small></p>
                </span></div>
        </div>
    </main>


    <script src="https://share.schollz.com/static/dropzone.js"></script>
    <script>
        var files = [];
        var isConnected = false;

        function humanFileSize(bytes, si) {
            var thresh = si ? 1000 : 1024;
            if (Math.abs(bytes) < thresh) {
                return bytes + ' B';
            }
            var units = si ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'] : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB',
                'EiB', 'ZiB', 'YiB'
            ];
            var u = -1;
            do {
                bytes /= thresh;
                ++u;
            } while (Math.abs(bytes) >= thresh && u < units.length - 1);
            return bytes.toFixed(1) + ' ' + units[u];
        }

        var Name = "";
        var filesize = 0;

        (function (Dropzone) {
            Dropzone.autoDiscover = false;

            let drop = new Dropzone('div#filesBox', {
                maxFiles: 1000,
                url: '/',
                method: 'post',
                createImageThumbnails: false,
                previewTemplate: "<div id='preview' class='.dropzone-previews'></div>",
                autoProcessQueue: false,
            });

            drop.on('addedfile', function (file) {
                files.push(file);
                console.log(file);
                domain = files[0].webkitRelativePath.split("/")[0];
                if (domain == "") {
                    domain = files[0].name;
                }
                if (!(isConnected)) {
                    isConnected = true;
                    socketSend({
                        "type": "domain",
                        "message": domain,
                    })
                }
                html = `<p>Your domain: /${domain}</p>
                
                <ul>`
                for (i = 0; i < files.length; i++) {
                    console.log(files[i]);
                    var urlToFile = files[i].name;

                    if ('fullPath' in files[i]) {
                        urlToFile = files[i].fullPath;
                    }
                    html = html +
                        `<li><a href="/${urlToFile}" target="_blank">/${urlToFile}</a></li>`
                }
                html = html + `</ul>`;
                document.getElementById("preview").innerHTML = html;
            })

        })(Dropzone);

        var socket; // websocket


        /* websockets */
        function socketSend(data) {
            if (socket == null) {
                return
            }
            if (socket.readyState != 1) {
                return
            }
            jsonData = JSON.stringify(data);
            socket.send(jsonData);
            if (jsonData.length > 100) {
                jsonData = jsonData.substring(0, 99) + "...";
            }
            console.log("[debug] ws-> " + jsonData)
        }

        const socketMessageListener = (event) => {
            var data = JSON.parse(event.data);
            if (!('type' in data && 'message' in data)) {
                console.log(`[warn] got bad data ${event.data}`);
                return
            }
            console.log(`[debug] ${data.type} ${data.message}`)
            if (data.type == "get") {
                var foundFile = false
                for (i = 0; i < files.length; i++) {
                    if (files[i].webkitRelativePath == data.message || files[i].name == data.message) {
                        var reader = new FileReader();
                        reader.onload = function (theFile) {
                            socketSend({
                                type: "get",
                                message: reader.result,
                                success: true,
                            })
                            console.log(`[info] ${data.message} 200`);
                        };
                        reader.readAsDataURL(files[i]);
                        foundFile = true
                        break
                    }
                }
                if (foundFile == false) {
                    socketSend({
                        type: "get",
                        message: "not found",
                        success: false,
                    })
                    console.log(`[info] ${data.message} 404`);
                }
            } else if (data.type == "message") {
                console.log(`[info] ${data.message}`);
            } else {
                console.log(`[debug] unknown`);
            }
        };
        const socketOpenListener = (event) => {
            console.log('[debug] connected');
        };

        const socketCloseListener = (event) => {
            if (socket) {
                console.log('[debug] disconnected');
            }
            var url = window.origin.replace("http", "ws") + '/ws';
            try {
                socket = new WebSocket(url);
                socket.addEventListener('open', socketOpenListener);
                socket.addEventListener('message', socketMessageListener);
                socket.addEventListener('close', socketCloseListener);
            } catch (err) {
                console.log("[debug] no connection available")
            }
        };


        socketCloseListener();
    </script>
</body>

</html>